.second-section{
  margin-left: 80px;
  margin-right: 150px;
  width: 350px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding-top: 20px;

}
.inputs{
  width: 313px;
}
.email{
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(182, 182, 182);
}
.password{
  width: 300px;
  height: 35px;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(182, 182, 182);
}
.log{
  margin-top: 20px;
  width: 313px;
  height: 35px;
  background-color: rgb(24, 119, 242);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.15s;
  cursor: pointer;
}
.log:hover, .create:hover{
  opacity: 0.8;
}
.log:active, .create:active{
  opacity: 0.7;
}
.forgot{
  text-decoration: none;
  color: rgb(24, 119, 242);
  font-size: 14px;
}
.forgot:hover{
  text-decoration: underline;
}
.text2{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
}
.text3{
  border-bottom-style: solid;
  border-bottom-color: rgb(182, 182, 182);
  border-bottom-width: 1px;
  width: 313px;
  padding-top: 15px;
  padding-bottom: 22px;
}
.create{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(66, 183, 42);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.15s;
  cursor: pointer;
}
.end{
  position: absolute;
  font-size: 12px;
  bottom: -40px;
}
.page{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.page:hover{
  text-decoration: underline;
}